Repository cse110-w21-group7/cse110-SP21-group7, pull requests merged in 2021-05, with the labels that each got.

#75 System, container, and component diagrams
  specs/architecture/c4_component_diagram_collections.drawio.png
  specs/architecture/c4_component_diagram_daily_log.drawio.png
  specs/architecture/c4_component_diagram_index.drawio.png
  specs/architecture/c4_component_diagram_monthly_weekly.drawio.png
  specs/architecture/c4_component_diagram_search.drawio.png
  specs/architecture/c4_container_diagram.drawio.png
  specs/architecture/c4_system_context.drawio.png
Labels: documentation

#101 CI/CD architecture diagrams and pipeline
  .eslintrc.json
  .github/workflows/node.js.yml
  .gitignore
  admin/meetings/050421-system-architec.md
  package-lock.json
  package.json
  source/docs/Bar.html
  source/docs/example_docs.js.html
  source/docs/fonts/OpenSans-Bold-webfont.eot
  source/docs/fonts/OpenSans-Bold-webfont.svg
  source/docs/fonts/OpenSans-Bold-webfont.woff
  source/docs/fonts/OpenSans-BoldItalic-webfont.eot
  source/docs/fonts/OpenSans-BoldItalic-webfont.svg
  source/docs/fonts/OpenSans-BoldItalic-webfont.woff
  source/docs/fonts/OpenSans-Italic-webfont.eot
  source/docs/fonts/OpenSans-Italic-webfont.svg
  source/docs/fonts/OpenSans-Italic-webfont.woff
  source/docs/fonts/OpenSans-Light-webfont.eot
  source/docs/fonts/OpenSans-Light-webfont.svg
  source/docs/fonts/OpenSans-Light-webfont.woff
  source/docs/fonts/OpenSans-LightItalic-webfont.eot
  source/docs/fonts/OpenSans-LightItalic-webfont.svg
  source/docs/fonts/OpenSans-LightItalic-webfont.woff
  source/docs/fonts/OpenSans-Regular-webfont.eot
  source/docs/fonts/OpenSans-Regular-webfont.svg
  source/docs/fonts/OpenSans-Regular-webfont.woff
  source/docs/index.html
  source/docs/scripts/linenumber.js
  source/docs/scripts/prettify/Apache-License-2.0.txt
  source/docs/scripts/prettify/lang-css.js
  source/docs/scripts/prettify/prettify.js
  source/docs/styles/jsdoc-default.css
  source/docs/styles/prettify-jsdoc.css
  source/docs/styles/prettify-tomorrow.css
  source/javascript/src/example_docs.js
  source/javascript/tests/example/example.js
  source/javascript/tests/example/example.test.js
  specs/architecture/ci-cd_diagram.drawio.png
  specs/flowchart/master-flowchart.drawio
  specs/roadmap.md
  specs/standups/standup_may6.md
Labels: enhancement

#186 Applied color palette and new nav bar to all pages. All pages can navigate to one another
  source/css/collection.css
  source/css/daily.css
  source/css/index.css
  source/css/weekly.css
  source/html/collection.html
  source/html/daily.html
  source/html/weekly.html
Labels: HTML (Frontend)

#205 Collection-edit page fix
  source/css/collection-edit.css
  source/css/collection.css
  source/css/daily.css
  source/html/collection-edit.html
  source/html/daily.html
  source/javascript/src/collection.js
  source/javascript/src/daily.js
Labels: HTML (Frontend)

#222 Create WeeklyViewItem custom components and added algorithm for appending date number on weekly view column
  source/css/weekly.css
  source/html/weekly.html
  source/javascript/src/components/LogItem.js
  source/javascript/src/components/WeeklyViewItem.js
  source/javascript/src/daily.js
  source/javascript/src/weekly.js
  source/models/schema.json
Labels: JavaScript (Frontend)

#224 finished implementing weeklyViewItem custom component
  source/css/weekly.css
  source/html/weekly.html
  source/javascript/src/components/LogItem.js
  source/javascript/src/components/WeeklyViewItem.js
  source/javascript/src/weekly.js
Labels: JavaScript (Frontend)

#229 Finished the logic for populating weekly view. Weekly css also fixed
  source/css/weekly.css
  source/html/index.html
  source/javascript/src/components/book.js
  source/javascript/src/weekly.js
Labels: HTML (Frontend)

#242 meeting artifact and miscellaneous UI fixes
  admin/meetings/052921-retro3.md
  admin/meetings/052921-sprint-review-3.md
  admin/meetings/retro3-ss.PNG
  admin/standups/standup_may29.md
  source/css/daily.css
  source/css/index.css
  source/html/daily.html
  source/html/index.html
  source/html/weekly.html
  source/javascript/src/daily.js
Labels: HTML (Frontend), documentation

#250 Complete CRUD operations for Collections page
  source/html/collection-edit.html
  source/html/collection.html
  source/javascript/src/collection-edit.js
  source/javascript/src/collection.js
  source/javascript/src/components/CollectionItem.js
Labels: JavaScript (Frontend)

#258 Collection to collection-edit nav implemented, weekly bug fixed
  source/html/daily.html
  source/javascript/src/collection-edit.js
  source/javascript/src/components/CollectionItem.js
  source/javascript/src/utils/DateConverter.js
  source/javascript/src/weekly.js
Labels: JavaScript (Frontend), bug

#259 collection fetching tasks implemented
  source/javascript/src/collection-edit.js
  source/javascript/src/components/CollectionItem.js
  source/javascript/src/utils/DateConverter.js
Labels: JavaScript (Frontend)

#264 Multiple UI fixes
  source/css/collection-edit.css
  source/css/collection.css
  source/css/index.css
  source/css/weekly.css
  source/html/collection-edit.html
  source/html/collection.html
  source/html/weekly.html
  source/javascript/src/collection-edit.js
  source/javascript/src/components/MediaItem.js
  source/javascript/src/weekly.js
Labels: HTML (Frontend), JavaScript (Frontend)

#262 Added navigation from `index.html` to `weekly.html` with books
  source/html/index.html
  source/javascript/src/components/ReflectionItem.js
  source/javascript/src/components/book.js
  source/javascript/src/components/shelf.js
  source/javascript/src/index.js
  source/javascript/src/utils/DateConverter.js
  source/javascript/src/utils/Router.js
  source/javascript/src/weekly.js
Labels: Backend, HTML (Frontend), JavaScript (Frontend), enhancement
